<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Alpha Gadgets</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <style>
        .pr1{background-color:#ced4da;}
        .prtext{color:#000000;font-weight:bolder;}
    </style>
    <script>
$(document).ready(function(){

});
</script>
</head>
<body>
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="background-color:#161a1d;">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'home' %}">ALPHA<h6>GADGETS</h6></a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li class="drop-down"><a href="">Categories</a>
          <ul>
              <li><a href="">cat 1</a></li>
              <li><a href="">cat 1</a></li>
              <li><a href="">cat 1</a></li>
          </ul>
          </li>
          <li class="drop-down"><a href="">Product List</a>
            <ul>
              <li><a href="">product 1</a></li>
              <li><a href="">product 1</a></li>
              <li><a href="">product 1</a></li>
          </ul></li>
          <li class="drop-down"><a href=""><img src="{% static 'icon/profileicon.png' %}"></a>
            <ul>
              <li class="drop-down"><a href="{% url 'adminpage' %}">My profile</a>
              <ul>
                {% if user.is_authenticated %}
                <li><a  href="{% url 'profileview' %}">Profile View</a></li>
                 <li><a  href="{% url 'logout' %}">Logout</a></li>
                  <li><a  href="{% url 'password_change' %}">Change Password</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">signup</a></li>
                {% endif %}
              </ul>

              </li>

              <li><a href="{% url 'productadd' %}">Add Product</a></li>
              <li><a href="{% url 'catadd' %}">Add Category</a></li>
            </ul>
          </li>
          <li><a href="#contact"><img src="{% static 'icon/cart.png' %}"></a></li>
          <li>
            <form id="searchform">
        <input type="search" name="search" placeholder="search" style="border: 1px solid white;border-radius:5px;margin-left:5px;background-color:#161a1d;color:white;padding:3px;">
        <input type="submit" class="btn btn-info" value="Search" style="padding:3px;width:70px;">
      </form></li>

        </ul>
      </nav><!-- .nav-menu -->




    </div>
  </header><!-- End Header -->


</body>
</html>